# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

# **Objectives**

    * Python
    * R
    * Java
    * Julia
    * Scala

Some of the popular languages that Data Scientists use are:<br>
    1. Phyton <br>
    2. R <br>
    3. SQL <br>

Some of the commonly used libraries used by Data Scientists include:<br>
    1. Pandas<br>
    2. Numpy<br>
    3. SciKit-learn<br>

| Data Science Tools |
| --- |
| Jupyter Notebook |
| RStudion |
| VS Code |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [13]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author 
Matic